<nav class="navbar navbar-light " id="nav">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img  class="rounded " src="https://project-demo-dot-springmldemoproject.uc.r.appspot.com/assets/images/unnamed.png" alt="" width="70" height="60">
        <img  class="rounded " src="https://project-demo-dot-springmldemoproject.uc.r.appspot.com/assets/images/Logo.png" alt="" width="70" height="60">
        <img  class="rounded " src="https://project-demo-dot-springmldemoproject.uc.r.appspot.com/assets/images/logoc.png" alt="" width="80" height="60">
      </a>
    </div>
  </nav>
  
