<div class="container">
    <h1>
      COVID-19 Vaccine intake for Florida
    </h1>
    
    <h5>
      Please enter your information in preparation for the COVID-19 vaccination process.
    </h5>
    <br>
    <button  type="button" routerLink="/admin" class="btn btn-primary">COVID-19 Vaccine intake for Florida</button><br><br>
  
   <i> <h5>Please be advised - The Florida Department of Health will never ask you for your 
      bank account number, password, or other financial information.</h5></i>
  
  </div>
  